body{
  width: 10rem;
}

h1 {
  text-wrap: nowrap;
}


.popup-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0 1rem 0 1rem;
}

.mode-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mode-label {
  text-wrap: nowrap;
}

.mode-button {
  width: 5rem;
}

.message-label {
  color: #0000ff;
}
